.container {
    box-sizing: border-box;
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: #F9F7E9;
    color: #603809;
  }
  
  .header {
    padding-top: 20px;
    background: rgb(133, 74, 74);
    height: 72px;
    position: relative;
  }
  
  .logo {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
  }
  
  .navItems {
    display: flex;
    gap: 20px; /* Adjust this value to increase or decrease the space between items */
    list-style-type: none; /* This removes the bullet points from the list items */
    padding: 0; /* This removes any default padding */
  }
  
  .navItems li {
    margin-right: 100px;
  }
  
  /* ... rest of your styles ... */
  
  .footer {
    background-color: rgba(133, 74, 74, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  
  .footer p {
    color: #FFF;
  }
  