@import './globals.scss';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;             
  flex-direction: column;   // Stack child elements vertically
  align-items: flex-start;  
  justify-content: flex-start;
  padding-top: 50px;       

  .imgWrapper {
    margin-left: 200px;
    transform: scaleX(-1);
    flex: none;            // To ensure it doesn't grow or shrink
  }

  .textBox {
    z-index: 2; // This ensures that textBox appears in front of imgWrapper

    margin-top: -250px;     // Added margin instead of top positioning
    margin-left: 900px;
    flex: none;
    width: 30%;  
    height: 30%;
    font-family: $primary-font;
    background-color: $secondary-color;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    

    .primaryText, .secondaryHeader, .secondaryText {
      flex: none;
    }
  }

  .secondaryText {
    font-size: 20px;
  }

  .nextButton {
    margin-top: -60px;     // Push the button to the bottom
    margin-left: 600px;
    padding: 15px 30px;
    background-color: $dark-brown;
    border-radius: 8px;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: darken($dark-brown, 10%);
    }

    .arrow {
      margin-left: 20px;
      font-size: 32px;
    }
  }
}
