:root {
  --primary-color: #603809;
  --background-color: #F9F7E9;
  --secondary-color: #f9c06a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.container {
  box-sizing: border-box;
  margin: 0;
  color: var(--primary-color);
}

/* ... All other global styles ... */

.footer {
  background-color: rgba(133, 74, 74, 0.8);
  padding: 20px;
  text-align: center;
  width: 100%;
  position: absolute;
}

.footer p {
  color: #FFF;
}

.navItems {
  display: flex;
  gap: 20px; /* Adjust this value to increase or decrease the space between items */
  list-style-type: none; /* This removes the bullet points from the list items */
  padding: 0; /* This removes any default padding */
}
