// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

// Define variables
$primary-font: "Rubik", sans-serif;
$secondary-font: "Fjalla One", sans-serif;
$primary-color: #F9F7E9;
$secondary-color: #D56A34;
$dark-brown: #3F170E;
$accent-color: #A95E33;
$dark-overlay: rgba(0, 0, 0, 0.4);

.defaultBackground {
    background-color: $primary-color;
  }

  .navWrapper {
    background-color: $primary-color;
    padding-top: 15px;
}