.container {
    box-sizing: border-box;
    margin: 0;
    color: #603809;
    font-family: "Rubik", sans-serif;
    background-color: #F9F7E9;
  }
  
  .headerContainer {
    padding-top: 20px;
    background: rgb(133, 74, 74);
    height: 72px;
    position: relative;
  }
  
  .navContainer {
    max-width: 1350px;
    margin: 0 auto;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav ul {
    display: flex;
  }
  
  .logo {
    font-family: "Fjalla One", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: white;
  }
  
  .navItems {
    display: flex;
    gap: 20px; /* Adjust this value to increase or decrease the space between items */
    list-style-type: none; /* This removes the bullet points from the list items */
    padding: 0; /* This removes any default padding */
  }
  
  .navItems a {
    text-decoration: none;
    color: white;
  }
  
  .bannerContainer {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgba(133, 74, 74, 0.5);
  }
  
  .bannerImage {
    width: 100%;
    height: auto;
  }
  
  .videoWrapper {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 2;
  }
  
  .videoTitle {
    color: #fff;
    font-size: 2em;
    font-family: "Playfair Display", serif;
    padding-bottom: 10px;
    text-align: left;
  }
  
  .welcomeContainer {
    height: calc(70vh);
    display: flex;
    background: #F9F7E9;
  }
  
  .welcomeText h1 {
    color: var(--coffee, #603809);
    font-family: "Fjalla One", sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .welcomeText p {
    margin-top: 5%;
    color: #707070;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
  }
  
  .welcomeText {
    margin: 3% 8%;
  }
  
  .welcomeLogo {
    width: auto;
    height: 100%;
  }
  
  .valuesSection h2 {
    color: var(--coffee, #603809);
    font-family: "Playfair Display", serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-top: 50px;
  }
  
  .valuesSection p {
    padding: 20px 0;
    color: #707070;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
  }
  
  .getStarted {
    text-align: center;
    margin: 50px 0;
  }
  
  .getStarted h3 {
    color: #707070;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .getStarted h2 {
    color: var(--coffee, #603809);
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .getStarted button {
    width: 134px;
    height: 48px;
    margin: 20px 0;
    border-radius: 24px;
    background: #f9c06a;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    color: #1e1e1e;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 700;
  }
  
  .footer {
    background-color: rgba(133, 74, 74, 0.8);
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  
  .footer p {
    color: #FFF;
  }
  